<footer class="footer">
          <div class="container-fluid clearfix text-center">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022
              <a href="https://bodhtree.com/" target="_blank">BODHTREE Human Resource Management System</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0  text-center">Developed By BODHTREE.COM
              </i>
            </span>
          </div>
</footer>